<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{login.title}">登陆</title>
</head>
<body>
<div class="container">
    <div class="form row">
        <div class="form-horizontal col-md-offset-3" id="login_form">
            <h3 class="form-title"></h3>
            <div>
                <a th:text="#{language.zh_CN}" th:href="@{/login(language='zh_CN')}">中文</a>
                <a th:text="#{language.en_US}" th:href="@{/login(language='en_US')}">英文</a>
            </div>
            <form class="form-horizontal" method="post" action="/login">
                <div class="col-md-9">
                    <div class="form-group">
                        <input class="form-control" type="text" th:placeholder="#{login.username}" name="username" autofocus="autofocus"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" th:placeholder="#{login.password}" name="password"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" th:placeholder="#{login.verify.code}" name="verifyCode" maxlength="4"/>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success pull-right" th:text="#{login.title}">登录</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
</script>
</body>
</html>